/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

code {
  color: red;
}

.App {
  text-align: center;
  height: 100vh;
}

.main {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.task__description {
  flex-grow: 1;
  background-color: aliceblue;
}

.task__editor {
  text-align: left;
  flex-grow: 1;
  background-color: bisque;
}

.player {
  display: flex;
  background-color: cadetblue;
  justify-content: center;
  width: 50%;
}

.character {
  width: auto;
  height: 100px;
}
