@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'), url('./fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: deeppink;
}
